target/
.settings/
.project
.classpath
target/javadoc-bundle-options
target/maven-archiver
target/surefire
target/surefire-reports
taget/test=classes
src/test/java/com/camelcasing/image/gif/test/GIFUtils.java
